bpelContent/FlightWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://FlightTicket.Milestone1.SC13Project" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2111="http://FlightTicket.Milestone1.SC13Project/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://FlightTicket.Milestone1.SC13Project">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://FlightTicket.Milestone1.SC13Project/xsd">
            <xs:complexType name="FlightUnAvailableException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="FlightTicketDate">
                <xs:sequence>
                    <xs:element minOccurs="0" name="date" type="xs:int"/>
                    <xs:element minOccurs="0" name="month" type="xs:int"/>
                    <xs:element minOccurs="0" name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FlightInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dates" nillable="true" type="ax2111:DateList"/>
                    <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="flightNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:int"/>
                    <xs:element minOccurs="0" name="seats" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DateList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2112="http://FlightTicket.Milestone1.SC13Project/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://FlightTicket.Milestone1.SC13Project">
            <xs:import namespace="http://FlightTicket.Milestone1.SC13Project/xsd"/>
            <xs:element name="FlightTicketImplFlightUnAvailableException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="FlightUnAvailableException" nillable="true" type="ax2112:FlightUnAvailableException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="date" nillable="true" type="ax2112:FlightTicketDate"/>
                        <xs:element minOccurs="0" name="seats" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bookFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelBooking">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookingID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlightInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="departure" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="date" nillable="true" type="ax2112:FlightTicketDate"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlightInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2112:FlightInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getFlightInfoRequest">
        <wsdl:part name="parameters" element="ns:getFlightInfo"/>
    </wsdl:message>
    <wsdl:message name="getFlightInfoResponse">
        <wsdl:part name="parameters" element="ns:getFlightInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="cancelBookingRequest">
        <wsdl:part name="parameters" element="ns:cancelBooking"/>
    </wsdl:message>
    <wsdl:message name="bookFlightRequest">
        <wsdl:part name="parameters" element="ns:bookFlight"/>
    </wsdl:message>
    <wsdl:message name="bookFlightResponse">
        <wsdl:part name="parameters" element="ns:bookFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="FlightTicketImplFlightUnAvailableException">
        <wsdl:part name="parameters" element="ns:FlightTicketImplFlightUnAvailableException"/>
    </wsdl:message>
    <wsdl:portType name="FlightTicketImplPortType">
        <wsdl:operation name="getFlightInfo">
            <wsdl:input message="ns:getFlightInfoRequest" wsaw:Action="urn:getFlightInfo"/>
            <wsdl:output message="ns:getFlightInfoResponse" wsaw:Action="urn:getFlightInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <wsdl:input message="ns:cancelBookingRequest" wsaw:Action="urn:cancelBooking"/>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <wsdl:input message="ns:bookFlightRequest" wsaw:Action="urn:bookFlight"/>
            <wsdl:output message="ns:bookFlightResponse" wsaw:Action="urn:bookFlightResponse"/>
            <wsdl:fault message="ns:FlightTicketImplFlightUnAvailableException" name="FlightTicketImplFlightUnAvailableException" wsaw:Action="urn:bookFlightFlightTicketImplFlightUnAvailableException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightTicketImplSoap11Binding" type="ns:FlightTicketImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFlightInfo">
            <soap:operation soapAction="urn:getFlightInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <soap:operation soapAction="urn:cancelBooking" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <soap:operation soapAction="urn:bookFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FlightTicketImplFlightUnAvailableException">
                <soap:fault use="literal" name="FlightTicketImplFlightUnAvailableException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightTicketImplSoap12Binding" type="ns:FlightTicketImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getFlightInfo">
            <soap12:operation soapAction="urn:getFlightInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <soap12:operation soapAction="urn:cancelBooking" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <soap12:operation soapAction="urn:bookFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FlightTicketImplFlightUnAvailableException">
                <soap12:fault use="literal" name="FlightTicketImplFlightUnAvailableException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightTicketImplHttpBinding" type="ns:FlightTicketImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getFlightInfo">
            <http:operation location="getFlightInfo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <http:operation location="cancelBooking"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="bookFlight">
            <http:operation location="bookFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FlightTicketImpl">
        <wsdl:port name="FlightTicketImplHttpSoap11Endpoint" binding="ns:FlightTicketImplSoap11Binding">
            <soap:address location="http://vmjacobsen4.informatik.tu-muenchen.de:8080/axis2/services/g43/FlightTicketImpl.FlightTicketImplHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FlightTicketImplHttpSoap12Endpoint" binding="ns:FlightTicketImplSoap12Binding">
            <soap12:address location="http://vmjacobsen4.informatik.tu-muenchen.de:8080/axis2/services/g43/FlightTicketImpl.FlightTicketImplHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FlightTicketImplHttpEndpoint" binding="ns:FlightTicketImplHttpBinding">
            <http:address location="http://vmjacobsen4.informatik.tu-muenchen.de:8080/axis2/services/g43/FlightTicketImpl.FlightTicketImplHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
